@font-face {
    font-family: 'Orbitron' ;
    src: url('../orbitron/Orbitron-Bold.ttf');
}
.root{
    -fx-background-image: url('../images/background/leaderBoardBG.jpg');
    -fx-background-size: cover;
}

#TitleLabel {
    -fx-background-image: url('../images/ranking.PNG');
    -fx-background-size: cover;
}

#pane {
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #194a7c 0%, #100a2c 100%),
            #12103f,
            #12103f,
            linear-gradient(to bottom , #662dc9 1%,#12103f 70%);
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
}

#stars{
    -fx-background-image: url('../images/star.png');
    -fx-background-size: contain;
}

.button
{
    -fx-padding: 0 0 7 0;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#dc8f00 0%,#903b12 100%),
            #ffb22e,
            #ffb22e,
            linear-gradient(to bottom , #ffec87 3%,#ffb22e );
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-family: Orbitron;
    -fx-font-size:14px;
}

.button:hover
{

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#dc8f00 0%,#903b12 100),
            #ffb22e,
            #ffb22e,
            linear-gradient(to bottom , #ffec87 3%,#ffb22e);
}

.button:pressed
{
    -fx-padding: 0 0 2 0;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

#crown{
    -fx-background-image: url('../images/crown.png');
    -fx-background-size: contain;
}

.table-view{
    -fx-font-family: Orbitron;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-background-radius: 25;

}

.table-view .label{
    -fx-text-fill: transparent;
}

.table-view .column-header{
    -fx-pref-height: 35px;

}
.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .cell{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 4 0 3 0;
    -fx-pref-height: 38px;
}

.table-view .table-cell{
    -fx-border-radius: 10;
    -fx-border-color: #ff0cd9;
    -fx-border-insets: 0 5 0 5;
    -fx-border-width: 2px;
}

#rank{
    -fx-pref-width: 70px;
}
#names{
    -fx-pref-width: 197px;
}
#time{
    -fx-pref-width: 170px;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}
