@font-face {
    font-family: 'Orbitron' ;
    src: url('../orbitron/Orbitron-Bold.ttf');
}
.root{
    -fx-background-image: url('../images/background/MenuBG.jpg');
    -fx-background-size: cover;
}

.label{
    -fx-font-family: Orbitron ;
}

.button
{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#dc8f00 0%,#903b12 100%),
            #ffb22e,
            #ffb22e,
            linear-gradient(to bottom , #ffec87 3%,#ffb22e );
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-family: Orbitron;
    -fx-font-size: 31px;
}

.button:hover
{
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#dc8f00 0%,#903b12 100),
            #ffb22e,
            #ffb22e,
            linear-gradient(to bottom , #ffec87 3%,#ffb22e);
}

.button:pressed
{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}

#exit{

    -fx-font-size: 0px;
    -fx-background-radius: 100;
    -fx-background-image: url('../images/x.png');
    -fx-background-size: cover;
    -fx-background-color: #ffb22e;
}
#exit:hover{
    -fx-cursor: hand;
}
#mini{
    -fx-font-size: 0px;
    -fx-background-radius: 100;
    -fx-background-image: url('../images/minimize.png');
    -fx-background-size: cover;
    -fx-background-color: #ffb22e;
}
#mini:hover{
-fx-cursor: hand;
}

